/* @theme labo */

@import 'default';

section {
	width: 1920px;
	height: 1080px;
	font-size: 40px;
    font-family: "HG創英角ゴシックUB", "Arial", "Symbol";
	padding: 40px;
	background-repeat: no-repeat;
	background-position: right top;
}

header {
	width: 100%;
	padding: 1px;
	color: white;
	background: linear-gradient(to right, blue, white);
	top: 120px;
}

footer {
	width: 100%;
	background-color: white;
	color: black;
	text-align: left;
}

h1 {
	font-size: 90px;
	color: #09c;
}